<div class="links">
    <ul class="character-links">
        {% if request.path == '/sf6_framedata/dashboard' %}
        {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/dashboard">Home</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/luke' %}
        {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/luke">Luke</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/jamie' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/jamie">Jamie</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/manon' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/manon">Manon</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/kimberly' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/kimberly">Kimberly</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/marisa' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/marisa">Marisa</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/lily' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/lily">Lily</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/jp' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/jp">JP</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/juri' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/juri">Juri</a></li>
        {% endif %}

        {% if request.path == 'sf6_framedata/character/deejay' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/deejay">Dee Jay</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/cammy' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/cammy">Cammy</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/ryu' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/ryu">Ryu</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/honda' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/honda">E. Honda</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/blanka' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/blanka">Blanka</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/guile' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/guile">Guile</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/ken' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/ken">Ken</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/chunli' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/chunli">Chun-Li</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/zangief' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/zangief">Zangief</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/dhalsim' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/dhalsim">Dhalsim</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/rashid' %}
            {{ disabled}}
        {% else %}
        <li><a href="/sf6_framedata/character/rashid">Rashid</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/aki' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/aki">A.K.I.</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/ed' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/ed">Ed</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/akuma' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/akuma">Akuma</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/bison' %}
            {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/bison">M. Bison</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/terry' %}
            {{ disabled}}
        {% else %}
        <li><a href="/sf6_framedata/character/terry">Terry</a></li>
        {% endif %}

        {% if request.path == '/sf6_framedata/character/mai' %}
        {{ disabled }}
        {% else %}
        <li><a href="/sf6_framedata/character/mai">Mai</a></li>
        {% endif %}
    </ul>
</div>