<tr>
    <th></th>
    <th style="color:rgb(255, 255, 255);text-align: center;">Startup</th>
    <th style="color:rgb(69, 156, 31);text-align: center;">Active</th>
    <th style="color:rgb(61, 90, 255);text-align: center;">Recovery</th>
    <th style="color:rgb(234, 255, 0);text-align: center;">Hit</th>
    <th style="color:rgb(234, 255, 0);text-align: center;">Block</th>
    <th style="color:rgb(209, 8, 8);text-align: center;">Damage</th>
    <th style="color:rgb(255, 255, 255);text-align: center;">Properties</th>
</tr>

